PORT=3000

PESAPAL_ENV=sandbox

PESAPAL_CONSUMER_KEY=YOUR_PESAPAL_CONSUMER_KEY
PESAPAL_CONSUMER_SECRET=YOUR_PESAPAL_CONSUMER_SECRET

PESAPAL_IPN_ID=YOUR_PESAPAL_IPN_ID

PESAPAL_CALLBACK_URL=https://YOUR-DOMAIN.com/api/pesapal/callback

PESAPAL_CANCEL_URL=https://YOUR-DOMAIN.com/

DENZGAINS_API_URL=https://denzgains.com/api/v2

DENZGAINS_API_KEY=YOUR_DENZGAINS_API_KEY
